<div class="justify-content-center d-flex align-items-center mb-20 col-sm-10">
<div id="current-container" class="justify-content-center text-center rounded border border-secondary">
    <div id="upper" class="row">
        <div id="upper-left" class="text-left col-lg-5 col-sm-5 col-5">
            <div id="city" class="upper-text text-weight-normal">
                {{_city}}
            </div>
            <div id="timezone" class="text-left upper-text text-weight-normal">
                {{timezone}}
            </div>
            <div id="temp" class="upper-text text-weight-normal">
                {{temperature}}<span><img id="degree" src="https://cdn3.iconfinder.com/data/icons/virtual-notebook/16/button_shape_oval-512.png"></span>
                F
            </div>
            <div id="icon" class="upper-text text-weight-normal">
                {{currently.icon}}
            </div>
        </div>
        <div id="upper-right" class="col-lg-5 col-sm-6 col-6">
            <img id="state-img" [src]="seal" class="img-fluid img-responsive">
        </div>
    </div>
    <div id="description" class="row mt-5">
        <div id="humidity" class="desp col-lg-2 col-sm-2 col-2">
            <img class="img-fluid" src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-16-512.png" title="Humidity">
            <p class="mt-2">{{currently.humidity}}</p>
        </div>
        <div id="pressure" class="desp col-lg-2 col-sm-2 col-2">
            <img class="img-fluid" src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-25-512.png" title="Pressure">
            <p class="mt-2">{{currently.pressure}}</p>
        </div>
        <div id="wind-speed" class="desp col-lg-2 col-sm-2 col-2">
            <img class="img-fluid" src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-27-512.png" title="Wind Speed">
            <p class="mt-2">{{currently.windSpeed}}</p>
        </div>
        <div id="visibility" class="desp col-lg-2 col-sm-2 col-2">
            <img class="img-fluid" src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-30-512.png" titile="Visibility">
            <p class="mt-2">{{currently.visibility}}</p>
        </div>
        <div id="cloud-cover" class="desp col-lg-2 col-sm-2 col-2"> 
            <img class="img-fluid" src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-28-512.png" title="Cloud Cover">
            <p class="mt-2">{{currently.cloudCover}}</p>
        </div>
        <div id="ozone" class="desp col-lg-2 col-sm-2 col-2">
            <img class="img-fluid" src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-24-512.png" title="Ozone">
            <p class="mt-2">{{currently.ozone}}</p>
        </div>


    </div>
</div>
</div>