<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div>
<div id="chartContainer" class="col-10 col-sm-10 col-md-8 col-lg-8 mt-5" style="height: 300px; width: 100%;" data-toggle="modal" data-target="#exampleModal"></div>
</div>
<!-- <button type="button" class="row col-lg-2 btn btn-primary" >
    Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{selected_day}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>{{city}}</div>
            <div>{{temperature}}</div>
            <img id="degree" src="https://cdn3.iconfinder.com/data/icons/virtual-notebook/16/button_shape_oval-512.png">
        </div>
        <div class="modal-footer">
            
        </div>
        </div>
    </div>
</div> -->
