.form-container {
    background-color: rgb(68, 127, 159);
    margin-top: 5%;
    margin-left: 15%;
    padding-bottom: 3%;
    box-shadow: 5px 5px 5px gray;
}
.header {
    margin-top: 5%;
    margin-bottom: 2%;
}
.search_btn {
    padding-top: 1%;
}
#city_input {
    background-color: white;
}

@media(max-width: 500px) {
    .form-container {
        margin-top: 1%;
        margin-left: 5%;
    }
    
}
.no-result {
    background-color: rgb(254, 241, 194);
    color: rgb(139, 110, 38);
}
/* h1.header {
    margin-left: 35%;
} */
